<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="database" value="FROZ\SQLEXPRESS"/>
  </appSettings>
  <system.webServer>
    <security>
      <requestFiltering allowDoubleEscaping="true" />
    </security>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="Application" type="Jovice.Web" />
    </modules>
    <handlers>
      <add name="Application" path="*" verb="*" type="Jovice.Jovice"/>
    </handlers>
  </system.webServer>
  <system.web>
    <httpRuntime requestPathInvalidCharacters="" requestValidationMode="2.0" />
    <pages validateRequest="false" />
  </system.web>
</configuration>