<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="database_debug" value="Data Source=FROZ\SQLEXPRESS;Initial Catalog=center;User ID=telkom.center;Password=t3lk0mdotc3nt3r;async=true" />
  <add key="database" value="Data Source=terra.telkom.center;Initial Catalog=center;User ID=telkom.center;Password=t3lk0mdotc3nt3r;async=true" />
  <add key="jovice_debug" value="Data Source=FROZ\SQLEXPRESS;Initial Catalog=jovice;User ID=telkom.center;Password=t3lk0mdotc3nt3r;async=true" />
  <add key="jovice" value="Data Source=terra.telkom.center;Initial Catalog=jovice;User ID=telkom.center;Password=t3lk0mdotc3nt3r;async=true" />
</appSettings>